*{
    list-style: none;
}

body{
    
    /*background-image: url(gabarit\ banner\ page\ sport\ \ 2\ 3\ city\ real\ bvb\ arsenal.jpg);*/
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100%;
}

.ensemble{
    display: flex;
}

.maillot img{
    border: black 2px solid;
    width: 70%;
}

.maillot{
    background-color: transparent;
}
 
.inst{
    margin: 40px;
}


.inst img{
    width: 20%;
}


.inst button{
    border-radius: 3px;
    width: 150px;
    border: black solid 1px;
    height: 50px;
    
}


.inst input:checked {
    color: black;

}

hr{
    height: 4px solid black;
}

input{
    height: 30px;
    border-radius: 4px;
}



section{
    display: flex; 
}

.card{
    border-radius: 20px;
    margin-left: 10px;
    height: 365px;
    background-color: #fff;
    flex: 1;
    transition: .3s all ease;
    border: black solid 1px;
    box-shadow: 0 5px 5px;
    text-align: center;
    

}



section a{
    text-decoration: none;
    padding: 10px;
    color: black;
    transition: all ease .2s; 
    display: inline-block;
    text-decoration: none;
    padding: 10px 30px;
    background: black;
    color: #fff;
    border-radius: 15px;
    margin: 25px 0 0 0;
}


section  a:hover{
    background-color: darkkhaki;
}


.card:hover {
    scale: 1.2;
}

img{
    width: 70%;
    border-radius: 15px;
}


footer{
    background-color: black;
    height: 200px;
    margin: 50px 0 0 0;
    color: #fff;
   
    
    
}


.finish{
    display: flex;
    justify-content: center;
    padding: 70px;
    
}

.finish a{
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 45%;
    margin: 70px;
    color: black;
}

footer p{
    text-align: center;
}

.logo{
    width: 100px;
    height: 90px;
    
}


@media screen and (max-width : 900px) {
   

    .instruction{
        width: 100px;
    }


    section{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .card{
        height: 300px;
        width: 200px;
    }

    footer .finish a {
        margin:13px;
    }

    .ensemble{
        display: block;
    }
    


    .inst img{
        width: 40px;
    
    }
    

   
    

}